# IP адрес или домен Minecraft Bedrock сервера
MC_HOST=mineore.org

# Порт сервера
MC_PORT=19132

# Никнейм, под которым бот будет заходить
MC_USERNAME=pelmendoobtest

# Пароль для регистрации/входа (SimpleAuth)
MC_PASSWORD=your_password

# Ключ OpenAI (по желанию, если будешь использовать GPT)
OPENAI_KEY=sk-...
